RITHUM_ORDERS_URL=https://dsm.commercehub.com/dsm/gotoOrderRealmForm.do?action=web_quickship&tabContext=web_quickship&status=open&substatus=no-activity&merchant=thehomedepot
UPS_HISTORY_URL=https://www.ups.com/ship/history?loc=en_US
UPS_USERNAME=
UPS_PASSWORD=
RITHUM_LOGIN_URL=https://account.commercehub.com/u/login/identifier?state=hKFo2SBHTGRuZEJ5a240bUR0bEpNTnJVY1dhVWlkSjJNZ1ZqNqFur3VuaXZlcnNhbC1sb2dpbqN0aWTZIFlCR3Y1OENjaXM1SXJwTmlRRzNNeFhlRWExRnJCNFlpo2NpZNkgTjZ3QnJKMXV3WEtSMU1tMFJ0RlgxSlhONklQNm5oYmw
RITHUM_USERNAME=
RITHUM_PASSWORD=
RITHUM_PROFILE_NAME=Cornerstone Products Group
RITHUM_MERCHANT_ID=thehomedepot
HEADLESS=false
LOGIN_DELAY_MS=5000
DEFAULT_SHIP_METHOD=UPS Ground
DEFAULT_SHIP_QUANTITY_MODE=remaining

# Microsoft Graph API credentials for Outlook email access
MS_GRAPH_CLIENT_ID=
MS_GRAPH_CLIENT_SECRET=
MS_GRAPH_TENANT_ID=
MS_GRAPH_USER_EMAIL=
